<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">


	<http auto-config="true">
		<intercept-url pattern="/admin" access="ROLE_USER" />
		<form-login login-page="/login" default-target-url="/student"
			authentication-failure-url="/login?error" username-parameter="j_username"
			password-parameter="j_password" />
		<logout logout-success-url="/login?logout" />
		<sec:session-management>
			<sec:concurrency-control
				error-if-maximum-exceeded="true" max-sessions="1" />
		</sec:session-management>
		<!-- enable csrf protection -->
		<!-- <csrf /> -->
	</http>
	<authentication-manager>
		<!-- <authentication-provider>
			<user-service>
				<user name="user" password="123" authorities="ROLE_USER" />
				<user name="admin" password="123" authorities="ROLE_ADMIN" />
			</user-service>
		</authentication-provider> -->
		<authentication-provider user-service-ref="users"/>
	</authentication-manager>
	<!-- <global-method-security pre-post-annotations="enabled"/> -->
	<!-- <global-method-security secured-annotations="enabled" /> -->
<!-- 	<global-method-security>
		<protect-pointcut
			expression="execution(* com.service.IUserService.addUser(..))"
			access="ROLE_ADMIN" />
	</global-method-security> -->
</beans:beans>

